services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    depends_on:
      - api
    volumes:
      - .:/app

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile.scheduler
    restart: unless-stopped
    volumes:
      - .:/app
